<div>
	<div style="float:right">
		<a href="http://awesomeassemblers.com/wp-content/uploads/2013/04/WP_20140509_17_43_31_Pro_cropped.png">
			<img class="img-thumbnail" src="http://awesomeassemblers.com/wp-content/uploads/2013/04/WP_20140509_17_43_31_Pro_cropped-224x300.png" alt="The Awesome Assemblers have assembled!"/>
		</a>
		<p class="text-muted">The Awesome Assemblers have assembled!</p>
	</div>
	<p>The Awesome Assemblers are a <a href="http://destinationimagination.org/">Destination Imagination </a>team from Redmond, WA.</p>
	<p>They took first place in the Seattle-Metro Destination Imagination Regional Tournament and tied for first place in the Washington State Tournament for the Technical Challenge, Middle School Division.</p>
	<p>They will be representing Washington at the <a href="http://www.globalfinals.org/">Destination Imagination 2014 Global Finals </a>in Knoxville, Tennessee. This is their second trip to Global Finals in as many years - the Awesome Assemblers came in 14th place in the world last year.</p>
	<p>If you're interested in making a tax-deductible donation to help the team go to Knoxville, please visit our <a title="Sponsorship" href="http://awesomeassemblers.com/sponsor/">donations and sponsorship page</a>.</p>
</div>