<div>
	<div style="float:right">
		<img class="img-thumbnail" src="./img/AwesomeAssemblers_thumb.png" alt="The Awesome Assemblers have assembled!"/>
		<p class="text-primary">The Awesome Assemblers have assembled!</p>
	</div>
	<h1>Awesome Assemblers ASSEMBLE</h1>
	<p>
		The Awesome Assemblers are a <a href="http://destinationimagination.org/">Destination Imagination </a>team from Redmond, WA. 
		They represented Washington at the <a href="http://www.globalfinals.org/">Destination Imagination Global Finals</a> in 2013 and 2014.
	</p>
	<p>If you're interested in making a tax-deductible donation to help the team go to Knoxville TN for this year's Global Finals, please visit our <a title="Sponsorship" href="./sponsor">donations and sponsorship page</a>.</p>
</div>