<div>
	<div style="float:right">
		<img class="img-thumbnail" src="./img/AwesomeAssemblers_thumb.png" alt="The Awesome Assemblers have assembled!"/>
		<p class="text-primary">The Awesome Assemblers have assembled!</p>
	</div>
	<h1>Awesome Assemblers ASSEMBLE</h1>
	<h3>It's time for our Creature Feature</h3>
	<p>The Awesome Assemblers are a <a href="http://destinationimagination.org/">Destination Imagination </a>team from Redmond, WA.</p>
	<p>They took first place in the Seattle-Metro Destination Imagination Regional Tournament and tied for first place in the Washington State Tournament for the Technical Challenge, Middle School Division.</p>
	<p>They will be representing Washington at the <a href="http://www.globalfinals.org/">Destination Imagination 2014 Global Finals </a>in Knoxville, Tennessee. This is their second trip to Global Finals in as many years - the Awesome Assemblers came in 14th place in the world last year.</p>
	<p>If you're interested in making a tax-deductible donation to help the team go to Knoxville, please visit our <a title="Sponsorship" href="./sponsor">donations and sponsorship page</a>.</p>
</div>